body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#001eff;
    padding: 10px;
    height: 55px;
    color: white;
}

.person {
    display: flex;
}

.header h1 {
    margin: 10px;
}

.header h3 {
    margin: 10px;
} 

i {
    font-size: 40px;
}

.cadastro {
    text-align: center;
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 300px;
}

label {
    font-weight: bold;
}

input {
    width: 300px;
    background-color:#001eff;
    border-radius: 20px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
}

